header {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
    padding: 25px 0;
    position: fixed;
    z-index: 9999;

    display: flex;
    justify-content: center;
}

.contenedor-nav {
    width: 100%;
    max-width: 1110px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links {
    list-style: none;

    display: flex;
    justify-content: flex-end;
}

li {
    margin: 0 15px;
}

.section-button {
    text-decoration: none;
    color: #2e2e31;
    transition-duration: 300ms;
}

.section-button:hover {
    transition-property: color;
    transition-duration: 300ms;
    color: #eb8b75;
}

.section-button:active {
    border: 1px solid #eb8b75;
    border-radius: 30px;
    padding: 10px 15px;
}

.action-button {
    background-color: #5bc2b2;
    color: white;
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;
    transition-duration: 300ms;    
}

.action-button:hover {
    transition-property: background-color;
    transition-duration: 300ms;
    background-color: #5bc2b39c;
}

.action-button:active {
    transition-property: background-color;
    transition-duration: 300ms;
    box-shadow: 0px 0px 7px #5bc2b39c;
}
