.hello {
    padding: 80px 0;

    display: flex;
    justify-content: center;
}

.hello-container-content {
    width: 100%;
    max-width: 1110px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    width: 500px;

    display: flex;
    flex-direction: column;
}

.welcome-image {
    width: 500px;
}

.greeting {
    font-size: 30px;
    font-weight: 700;
    color: #2e2e31;
}

h1 {
    font-size: 55px;
    font-weight: 800;
    color: #5bc2b2;
}

.about {
    font-size: 16px;
    margin-top: 20px;
    color: #616161;
}

.projects-button {
    width: 155px;
    padding: 10px 0;
    background-color: #5bc2b2;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-button:hover {
    background-color: #5bc2b39c;
    color: white;
}